<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Vizitează Oradea</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<!-- ✅ Aici am schimbat Bundle Identifier-ul -->
	<key>CFBundleIdentifier</key>
	<string>ro.viziteaza.oradea</string>

	<key>GMSApiKey</key>
<string>AIzaSyDwcDkIXfvxLNE4U6Yo4Es6BYxesU41NA0</string>


	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>viziteaza_oradea</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- 🔹 Permite deschiderea linkurilor HTTP și HTTPS (pentru url_launcher) -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
  		<string>https</string>
  		<string>http</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
<string>Aplicația are nevoie de locația ta pentru a arăta poziția ta pe hartă.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Aplicația are nevoie de acces la locație pentru funcționalitatea hărții.</string>

<key>NSLocationAlwaysUsageDescription</key>
<string>Aplicația are nevoie de locație pentru a te localiza corect.</string>


</dict>
</plist>
